$grey: #ececec;
$dark-grey: #444444;
$salad: #63d1bb;
$text-grey: #444444;
$text-dark: #000000;
$text-light: #ffffff;
$text-green: #63d1bb;
$font-normal: "Open Sans", "Arial", sans-serif;
$font-bold: "Open Sans Bold", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
