.advantages {
  padding: 10px 30px 0 29px;
}

.advantages__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__heading {
  margin-top: 17px;
  margin-bottom: 36px;

  font-size: 25px;
  line-height: 30px;
  font-family: $font-bold;
  color: $text-dark;
}

.advantages__item {
  position: relative;

  width: 100%;
  margin-top: 0;
  margin-bottom: 33px;
  padding-top: 50px;

  font-size: 17px;
  line-height: 20px;
  font-family: $font-bold;
  color: $text-dark;
  letter-spacing: 0.01em;
}

.advantages__icon {
  position: absolute;

  fill: $salad;
}

.advantages__icon--flower {
  top: -5px;
  left: 8px;

  width: 33px;
  height: 38px;
}

.advantages__icon--money {
  top: -3px;
  left: 1px;

  width: 47px;
  height: 27px;
}

.advantages__icon--heart {
  top: 2px;
  left: 7px;

  width: 34px;
  height: 27px;
}

.advantages__icon--ball {
  top: -1px;
  left: 4px;

  width: 35px;
  height: 34px;
}

.advantages__icon--rocket {
  top: 0;
  left: -6px;

  width: 55px;
  height: 23px;
}

.advantages__icon--gift {
  top: -2px;
  left: 4px;

  width: 33px;
  height: 32px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 28px;
  }

  .advantages__heading {
    margin-top: 38px;
    margin-bottom: 47px;
    padding-left: 17px;

    font-size: 43px;
    line-height: 50px;
  }

  .advantages__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 21px;
  }

  .advantages__item {
    width: 334px;
    margin-bottom: 55px;
    padding-top: 56px;

    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item:nth-child(1) {
    order: 1;
  }

  .advantages__item:nth-child(4) {
    order: 2;
  }

  .advantages__item:nth-child(2) {
    order: 3;
  }

  .advantages__item:nth-child(5) {
    order: 4;
  }

  .advantages__item:nth-child(3) {
    order: 5;
  }

  .advantages__item:nth-child(6) {
    order: 6;
  }

  .advantages__icon--flower {
    top: 1px;
  }

  .advantages__icon--money {
    top: 3px;
  }

  .advantages__icon--heart {
    top: 7px;
  }

  .advantages__icon--ball {
    top: 5px;
  }

  .advantages__icon--rocket {
    top: 5px;
  }

  .advantages__icon--gift {
    top: 4px;
    left: 3px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-right: 204px;
    padding-bottom: 35px;
    padding-left: 204px;
  }

  .advantages__heading {
    margin-bottom: 45px;

    font-size: 53px;
    line-height: 57px;
  }

  .advantages__item {
    width: 350px;
  }
}
