.user-reviews {
  background: transparent url("../img/backgrounds/bg-zigzag-line.svg") repeat-x bottom;
  background-position-x: 9px;
  background-size: 320px 7px;
}

.user-reviews__inner {
  position: relative;

  padding: 10px 30px 51px 29px;
}

.user-reviews__heading {
  margin-top: 12px;

  font-size: 25px;
  line-height: 30px;
  font-family: $font-bold;
  color: $text-dark;
}

.user-reviews__review {
  margin-top: 24px;
  margin-bottom: 27px;
  padding-left: 1px;

  font-size: 15px;
  line-height: 30px;
}

.user-reviews__user-name {
  margin-top: 27px;
  margin-bottom: 3px;

  font-size: 17px;
  line-height: 24px;
  font-family: $font-bold;
  color: $text-dark;
  letter-spacing: 0.01em;
}

.user-reviews__user-mail {
  margin-top: 0;
  margin-bottom: 29px;

  font-size: 17px;
  line-height: 30px;
}

.user-reviews__pagination {
  display: flex;
  width: 100%;
  margin-bottom: 38px;
}

.user-reviews__pagination-button {
  position: relative;

  width: 50%;
  height: 52px;

  background: none;
  border: 1px solid $grey;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-reviews__icon {
  position: absolute;
  top: 12px;

  width: 51px;
  height: 26px;
}

.user-reviews__icon--left-arrow {
  left: 38px;
}

.user-reviews__icon--right-arrow {
  right: 40px;
}

.user-reviews__button {
  width: 100%;
  padding-top: 0.8em;
  padding-bottom: 0.85em;

  letter-spacing: 0.03em;
}

@media (min-width: $tablet-width) {
  .user-reviews {
    background-position-x: 19px;
    background-size: 768px 17px;
  }

  .user-reviews__inner {
    position: relative;

    padding: 65px 45px 97px 45px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 350px;
      height: 457px;

      background: #ededed url("../img/backgrounds/review@1x.jpg") no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/backgrounds/review@2x.jpg");
        background-size: 350px 457px;
      }
    }
  }

  .user-reviews__heading {
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  .user-reviews__review {
    margin-bottom: 57px;
    padding-left: 4px;

    font-size: 17px;
    line-height: 30px;
  }

  .user-reviews__row {
    display: flex;
    flex-direction: row;
  }

  .user-reviews__user-info {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }

  .user-reviews__user-name {
    margin: 0;
    margin-bottom: 4px;

    font-size: 18px;
  }

  .user-reviews__user-mail {
    margin: 0;
  }

  .user-reviews__pagination {
    width: 139px;
    margin-top: 2px;
    margin-right: 23px;
    margin-left: auto;
  }

  .user-reviews__pagination-button {
    border-color: transparent;
  }

  .user-reviews__icon--left-arrow {
    left: 0;
  }

  .user-reviews__icon--right-arrow {
    right: 0;
  }

  .user-reviews__button {
    position: absolute;
    top: 79px;
    right: 50px;

    width: auto;
    padding-right: 2.25em;
    padding-left: 2.25em;

    font-size: 17px;
    letter-spacing: normal;
  }
}

@media (min-width: $desktop-width) {
  .user-reviews {
    background-position-x: 25px;
    background-size: 1050px 23px;
  }

  .user-reviews__inner {
    position: relative;
    width: 1050px;

    margin-bottom: 70px;
    padding: 58px 0 150px 171px;

    &::after {
      width: 350px;
      height: 457px;

      background: #ededed url("../img/backgrounds/review@1x.jpg") no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/backgrounds/review@2x.jpg");
        background-size: 350px 457px;
      }
    }
  }

  .user-reviews__review {
    margin-bottom: 40px;
    padding-right: 100px;
  }

  .user-reviews__heading {
    font-size: 53px;
    line-height: 57px;
  }

  .user-reviews__user-name {
    margin-bottom: 2px;

    font-size: 17px;
    line-height: 24px;
  }

  .user-reviews__pagination {
    margin-right: 18px;
  }

  .user-reviews__button {
    right: 0;

    padding-right: 2.24em;
    padding-left: 2.24em;
  }
}
